body {
    background-color: rgb(255, 255, 255);
}
/*BOTON DE INICIO DE SESION*/
.botoninicio{
display: flex;
top: 10%;
right: 30%;
}   
/*ESTILO DE LOS TITULOS*/
#titulo1{   
font-size: 50px;
color:rgb(97, 0, 89);
justify-content: center;
display: flex;
font-family: Arial, Helvetica, sans-serif;
}

#titulo2{
font-size: 45px;
color:rgb(156, 6, 144);
justify-content: center;
display: flex;
}

#titulo3{
font-size: 40px;
color: rgb(155, 32, 155);
justify-content: center;
display: flex;
}

a{
color: white;
text-decoration: none;
}
.antesdelmenu {
    overflow: visible;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border: 8px solid rgb(95, 0, 75);

}
.btm {
  width: 10px;
}
nav{
justify-content: center;
display: flex;
background-color: rgb(107, 0, 93);
padding: 20px;
}

/*ESTILO DE LOS BOTONES*/
.botones{
background-color:rgb(58, 58, 58);
width: 12em;
height: 4em;
border-radius: 30em;
font-size: 18px;
font-family: inherit;
border: none;
position: relative;
overflow: hidden;
z-index: 1;
box-shadow: 6px 6px 12px #000000
-6px -6px 12px #000000;
color: white;
font-weight: bold;
margin-left: 10px;
}

.botones::before {
content: '';
width: 0;
height: 4em;
border-radius: 30em;
position: absolute;
top: 0;
left: 0;
background-image: linear-gradient(to right, rgb(130, 0, 134) 0%, rgb(255, 76, 210) 100%);
display: block;
z-index: -1;
}
button:hover::before {
width: 12em;
}
.botonprestamo {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #81007b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#bibli {
  width: 500px;
  height: 300px;
  margin-right: 10%;
  float: right;
  display: flex;
}
/* Divs de los libros */
.catalogo {
  display: flex; 
  justify-content: space-around; 
  margin: 20px;
  padding: 10px;
  gap: 15px;
}
      
.libro {
  text-align: center;
  width: 155px;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s; 
}
      
.libro:hover {
  transform: scale(1.05); 
}
      
.libro img {
  width: 100%;
  height: 215px;
}
      
  /* Título y precio */
.titulo {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0 5px;
}
      
.precio {
  color: #69006d;
  font-size: 18px;
  font-weight: bold;
}
hr {
  border: 4px solid rgb(69, 0, 71);
}
.tipos{
  background-color: rgb(209, 209, 209);
  text-align: center;
  border: 5px solid  rgb(114, 0, 89);
  border-radius: 50px;
  margin-top: 5%;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: rgb(36, 36, 36);
}
#maslibros {
  background-color: rgb(255, 191, 250);
  padding: 50px;
}
#prestimg {
  width: 300px;
  float: right;
  display: flex;
  
}
h1 {
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(94, 0, 94);
  font-weight: bold;
  font-size: 30px;
}

/*FOOTER*/
.info {
  display: flex;
  justify-content: center;
  
  }
  a:hover{
  color: rgb(79, 48, 119);
  }
  #correo{
  color: rgb(255, 255, 255);
  margin-right: 25%;
  }
  #num {
  color: white;
  margin-right: 25%;
  }
  #redes {
  color: white;
  }
  .copy {
  color:rgb(113, 125, 128);
  display: flex;
  justify-content: center;
  }
  a #correo{
  color: rgb(252, 252, 252);
  }
  footer {
  font-size:20px;
  font-weight: bold;
  background-color: rgb(99, 0, 94);
  }

