body {
    background-color: rgb(255, 255, 255);
}
/*BOTON DE INICIO DE SESION*/
.botoninicio{
display: flex;
top: 10%;
right: 30%;
}   

/*ESTILO DE LOS TITULOS*/
#titulo1{   
font-size: 50px;
color:rgb(97, 0, 89);
justify-content: center;
display: flex;
}
.antesdelmenu {
    overflow: visible;
    background-color: rgb(255, 255, 255);
    padding: 5x;
    border: 8px solid rgb(95, 0, 75);

}
/* Navegador */
a{
color: white;
text-decoration: none;
}

nav{
justify-content: center;
display: flex;
}

nav{
    justify-content: center;
    display: flex;
    background-color: rgb(107, 0, 93);
    padding: 20px;
    }

/* Estilos del texto */

#titulo2{
font-size: 45px;
color:rgb(156, 6, 144);
justify-content: center;
display: flex;
}

#titulo3{
font-size: 40px;
color: rgb(155, 32, 155);
justify-content: center;
display: flex;
}
.tipos{
    background-color: rgb(209, 209, 209);
    text-align: center;
    border: 5px solid  rgb(114, 0, 89);
    border-radius: 50px;
    margin-top: 5%;
    padding: 15px;
  }
h1 {
font-size: 32px;
color:rgb(102, 17, 91);
justify-content: center;
display: flex;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}


  /*ESTILO DE LOS BOTONES*/
button{
background-color:rgb(58, 58, 58);
width: 12em;
height: 4em;
border-radius: 30em;
font-size: 18px;
font-family: inherit;
border: none;
position: relative;
overflow: hidden;
z-index: 1;
box-shadow: 6px 6px 12px #000000
-6px -6px 12px #000000;
color: white;
font-weight: bold;
margin-left: 10px;
}

button::before {
content: '';
width: 0;
height: 4em;
border-radius: 30em;
position: absolute;
top: 0;
left: 0;
background-image: linear-gradient(to right, rgb(130, 0, 134) 0%, rgb(255, 76, 210) 100%);
display: block;
z-index: -1;
}
button:hover::before {
width: 12em;
}

/* TEXTO */

#sobrenosotros h2 {
    text-align: center;
    background-color: rgb(113, 30, 116);
    padding: 40px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

h3 {
    background-color: rgb(214, 156, 214);
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: rgb(82, 7, 82);
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-size: 19px;
}

hr {
    border: solid 8px;
    color: rgb(94, 1, 78);
}
/*FOOTER*/
.info {
    display: flex;
    justify-content: center;
    
    }
    a:hover{
    color: rgb(79, 48, 119);
    }
    #correo{
    color: rgb(255, 255, 255);
    margin-right: 25%;
    }
    #num {
    color: white;
    margin-right: 25%;
    }
    #redes {
    color: white;
    }
    .copy {
    color:rgb(113, 125, 128);
    display: flex;
    justify-content: center;
    }
    a #correo{
    color: rgb(252, 252, 252);
    }
    footer {
    font-size:20px;
    font-weight: bold;
    background-color: rgb(99, 0, 94);
    } 